{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react-hooks/recommended",
        "prettier",
    ],
    "plugins": ["prettier"],
    "settings": {
        "react": {
            "version": "detect",
        },
    },
    "rules": {
        "react/prop-types": "off",
        "prettier/prettier": "error",
    },
}
